<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Portfolio Manager: Account View</title>
</head>

<body>
	<form action="/logout" method="get">
		<span>Not </span>
		<span th:text="${user.name}">Username</span>
		<span>?</span>
		<button>Logout</button>
	</form>
	
	<h1>Portfolio Manager: Account View</h1>
	
	<form>
		<h3>Account Summary:</h3>
		Value: $<span th:text="${account.printValue(accountRepo, stockRepo)}">Unknown</span><br></br>
		Label: <span th:text="${account.label}">Unknown</span><br></br>
		Company: <span th:text="${account.accountID.company}">Unknown</span><br></br>
		Number: <span th:text="${account.accountID.number}">Unknown</span><br></br>
	</form>
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/editaccount(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()})}" method="get">
		<button>Edit Account Information</button>
	</form>
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/deleteaccount(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()})}" method="get">
		<button>Delete Account</button>
	</form>
	
	<h3>Stocks:</h3>
	<div th:if="${stockRepo.findAllStocksInAccount(account.accountID.company, account.accountID.number).isEmpty()}">
		There are currently no stocks associated with this account.<br></br><br></br>
	</div>
	<div th:each="stock : ${stockRepo.findAllStocksInAccount(account.accountID.company, account.accountID.number)}">
		<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/stockid={stockid}(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()}, stockid=${stock.stockID.hashCode()})}" method="get">
			Number Of Shares: <span th:text="${accountRepo.findSharesByAccountStock(account.accountID.company, account.accountID.number, stock.stockID.exchange, stock.stockID.symbol)}">Unknown</span><br></br>
			Exchange: <span th:text="${stock.stockID.exchange}">Unknown</span><br></br>
			Symbol: <span th:text="${stock.stockID.symbol}">Unknown</span><br></br>
			Name: <span th:text="${stock.name}">Not Yet Populated</span><br></br>
			Last Price: <span th:text="${stock.lastPrice}">Not Yet Populated</span><br></br>
			Price Change: <span th:text="${stock.priceChange}">Not Yet Populated</span><br></br>
			Percent Change: <span th:text="${stock.percentChange}">Not Yet Populated</span><br></br>
			<button>Select Stock</button><br></br><br></br>
		</form>
	</div>
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/newstock(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()})}" method="get">
		<button>Add New Stock</button>
	</form><br></br>
	
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}(sessionKey=${sessionKey}, userid=${user.userID.hashCode()})}" method="post">
		<button>Return to User Screen</button>
	</form>
</body>
</html>