<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Portfolio Manager: Delete Stock</title>
</head>

<body>
	<form action="/logout" method="get">
		<span>Not </span>
		<span th:text="${user.name}">Username</span>
		<span>?</span>
		<button>Logout</button>
	</form>

	<h1>Portfolio Manager: Delete Stock</h1>

	<h2>Are you sure you want to delete this stock?</h2>
	
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/stockid={stockid}/deletestock(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()}, stockid=${stock.stockID.hashCode()})}" method="post">
		<button>Yes, Delete Stock</button>
	</form><br></br><br></br>
	
	<form th:action="@{/sessionkey={sessionKey}/userid={userid}/accountid={accountid}/stockid={stockid}(sessionKey=${sessionKey}, userid=${user.userID.hashCode()}, accountid=${account.accountID.hashCode()}, stockid=${stock.stockID.hashCode()})}" method="get">
		<button>No, Return to Stock Screen</button>
	</form><br></br><br></br>
</body>
</html>